<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 

</head>


<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-12">
                <h2 style="color:black">{{data.title}}</h2>
                <p>{{data.paragraph}}</p>

        </div>
        </div>
    
        <div class="row">
          <div class="col-md-8">
              <h2 style="color:black">Featured Image</h2>
              <p><img src="{{data.feat_img}}" alt="Mars Image"></p>
  
      </div>

      <div class="col-md-4">
          <h2 style="color:black">Statistics</h2>
          <p>{{data.facts | safe}}</p>

  </div>
  </div>    

    <div class="container">
      <div class="row" id="mars-hemispheres">
        <div class="page-header">
            <h2 class="text-center">Mars Hemispheres</h2>
        </div>
                
          {% for item in data.image_store %}
              <div class="col-md-6">
              <div class="thumbnail">
                <img src="{{item.url}}" alt="...">
              <div class="caption">
                <h3>{{item.title}}</h3>
              </div>
              </div>
              </div>
          {% endfor %}




              </div>
  </div>
  </div>
</body>

</html>
